body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-family: "Roboto";
  position: relative;
  z-index: 0; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-window-win {
  position: fixed;
  top: 200px;
  left: 500px;
  width: 800px;
  height: 500px;
  background-color: #8bb4f1;
  z-index: 11;
  border-radius: 30px;
  box-shadow: 0 0 50px 5px rgba(139, 180, 241, 0.6); }

.modal-window-lost {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 800px;
  height: 500px;
  background-color: #b1b1b1;
  z-index: 11;
  border-radius: 30px;
  box-shadow: 0 0 50px 5px rgba(139, 180, 241, 0.6); }

.container {
  max-width: 100%;
  max-width: 1920px;
  margin: 0 auto; }

.header-style {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  background-color: #8bb4f1;
  height: 300px; }

.cow-left {
  background-image: url(../img/site/cow-left.png);
  width: 225px; }

.between-top {
  width: 20%;
  font-size: 20px;
  font-weight: 500;
  margin: 95px 0 0 50px;
  text-transform: uppercase; }

.cow-right {
  background-image: url(../img/site/cow-right.png);
  width: 225px; }

.game-name {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.game-name__text_small {
  margin: 0 0 -20px 6px;
  padding: 0 0 0 0;
  font-family: "Roboto";
  font-size: 36px;
  color: #757373;
  text-transform: uppercase; }

.game-name__text_black {
  margin: 0 0 -35px 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 500; }

.game-name__text_white {
  color: #fff; }

.name__text-laquo {
  margin-left: -47px; }

.main-style {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px; }

.text-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #eff4fa; }

.text__title {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #000; }

.text__title_indents {
  margin: 15px 0 0 0; }

.text__desc {
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px; }

.text__desc:last-child {
  margin: 0 0 50px 0; }

.rules-text {
  width: 45%; }

.action {
  width: 45%; }

.inputs {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 490px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #eff4fa;
  background-image: url(../img/site/cow-say.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 300px; }

.your-choice {
  margin: 0 0 0 0;
  padding: 30px 0 0 0;
  box-sizing: border-box;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  height: 450px; }

.border-words {
  margin: 0 20px 0 0;
  padding: 0 0 0 0;
  background-color: #fff;
  border-radius: 20px;
  width: 50%;
  height: 380px;
  position: relative; }

.border-words:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 300px;
  width: 0;
  height: 0;
  border-bottom: 55px solid #fff;
  border-left: 120px solid transparent; }

.instruction {
  margin: 0 0 0 0;
  padding: 12px;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: normal;
  line-height: 25px; }

.invisible__block {
  display: none; }

.result-check {
  margin: 20px 0 0 50px;
  padding: 0 0 0 0;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 400;
  line-height: 15px; }

.inputs-main {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 60%;
  height: 450px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.inputs-all {
  margin: 30px 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center; }

.input-numb {
  margin: 0 0 0 20px;
  padding: 0 0 0 0;
  width: 235px;
  height: 90%;
  font-size: 250px;
  font-family: "Roboto";
  text-align: center;
  vertical-align: middle;
  border: 1px solid #cecece;
  background-color: white;
  border-radius: 20px;
  color: #000; }
  .input-numb::placeholder {
    color: rgba(158, 158, 158, 0.35); }

.input-numb:last-child {
  margin: 0 20px 0 20px; }

.input-numb::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

.input-numb::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

.input-numb:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

.input-numb:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

.input-numb:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

.input-numb:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

.input-numb:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

.input-numb:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

.button-play {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  background-color: #eff4fa;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.cow-say {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  width: 40%;
  background-image: url(../img/site/cow-say.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 45%; }

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0); }
  100% {
    transform: skewY(-45deg) translateX(12.5em); } }
.wrapper {
  margin: 100px 0 0 0;
  padding: 0 0 0 0;
  transform: translate(-50%, -50%); }

.button-check {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #2194E0;
  font-size: 24px;
  display: inline-block;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: #0c70b3; }
  .button-check:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none; }
  .button-check:hover {
    background-color: #2194E0;
    color: #fff;
    border-bottom: 4px solid #1977b5;
    cursor: pointer; }
    .button-check:hover:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out; }

.facts {
  margin: 0 30px 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #fff;
  height: 300px; }

.facts-text {
  width: 35%;
  margin: 0 10px 0 20px;
  padding: 0 0 0 0; }

.social-links {
  width: 35%; }

.next-fact {
  margin-top: 20px; }

.footer-style {
  margin: 140px 0 0 0;
  padding: 40px 12px;
  box-sizing: border-box;
  background-color: #202020;
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.footer-grid {
  width: 30%;
  font-family: "Roboto";
  color: #fff; }
  .footer-grid:first-child {
    width: 20%; }

.game-name__footer {
  font-size: 60px;
  margin: 0 0 -21px 0;
  color: #757373; }

.copyright {
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
  color: #757373;
  font-size: 20px; }

.text__footer {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #757373; }

.text__link {
  color: #757373;
  text-decoration: underline; }
  .text__link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff; }

.footer-main-blocks {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 400px; }

.project-desc {
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  color: #a1a1a1;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

.button-send-2 {
  margin: 5px 0 0 0;
  padding: 10px 20px;
  background-color: #a1a1a1;
  color: #000;
  width: 130px;
  text-align: center;
  overflow: hidden;
  transition: .3s;
  font-size: 17px;
  border-radius: 5px;
  outline: none; }
  .button-send-2:hover {
    cursor: pointer;
    border-radius: 20px; }

.textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-left: 20px;
  outline: none;
  height: 85px;
  width: 400px;
  background-color: #a1a1a1;
  color: #f5f5f5;
  border: 1px solid #a1a1a1;
  font-size: 20px;
  line-height: 22px;
  margin: 5px 0 5px 0;
  box-sizing: border-box; }

.plan-b-style {
  width: 100%;
  height: 54px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #202020; }

.dev-planb {
  margin: 0 40px 0 0;
  padding: 0 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.plan-b {
  margin: 0 0 0 0;
  padding: 0 2px 0 0;
  background-color: #646464;
  color: white;
  width: 84px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.5;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px; }

.plan-b:hover {
  opacity: 1;
  transition: 0.5s; }

.planb_p,
.planb_l,
.planb_a,
.planb_n,
.planb_b {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: block; }

.planb_p {
  font-weight: 100; }

.planb_l {
  font-weight: 300; }

.planb_a {
  font-weight: 400; }

.planb_n {
  font-weight: 500; }

.planb_b {
  font-weight: 700; }

.restart-game:hover {
  cursor: pointer; }

.start-new-game__link {
  margin: 15px 0 0 20px;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
  text-transform: uppercase; }
  .start-new-game__link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #757373; }

.number__0,
.number__1,
.number__2,
.number__3,
.number__4,
.number__5,
.number__6,
.number__7,
.number__8,
.number__9 {
  margin: 0 0 0 0;
  padding: 0 7px; }
