$main-width: 1920px;
$font-main: "Roboto";
$bgcolor-top: #8bb4f1;
$bgcolor-main: #fff;
$bgcolor-cow-input: #eff4fa;
$bgcolor-second: #b1b1b1;
$bgcolor-footer: #202020;
$text-color_grey: #757373;
$text-color_main: #000;
$text-color_white: #fff;
//======
$dark-blue: #222;
$green: #90feb5;
$action-color: $green;
$color: #2194E0;