@import "_param";
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: $font-main;
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window-win {
    position: fixed;
    top: 150px;
    left: 400px;
    width: 800px;
    height: 500px;
    background-color: $bgcolor-top;
    z-index: 11;
    border-radius: 30px;
    box-shadow: 0 0 50px 5px rgba(139, 180, 241, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    &_money {
        top: 30px;
        height: 700px;
    }
}

.win-modal {
    margin: 0 0 0 0;
    padding: 20px;
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 10;
}

.close-modal {
    position: absolute;
    box-sizing: border-box;
    background: url('../img/site/close-modal.png') no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    border: 5px solid transparent;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    &_lost {
        right: 60px;
    }
}

.quote {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    &-texts {
        margin: 0 50px 0 0;
        padding: 20px 30px;
        width: 400px;
        background-color: $bgcolor-main;
        border-radius: 30px;
        position: relative;
        &::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            left: 100%;
            top: 60px;
            border-top: 30px solid transparent;
            border-left: 110px solid $bgcolor-main;
            border-bottom: 0px solid transparent;
        }
    }
    &-text {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: 390px;
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 33px;
        color: #000000;
    }
    &_lost {
        justify-content: flex-start;
        margin-left: -20px;
        align-items: center;
    }
}

.quote-texts_lost {
    margin: 0 0 0 50px;
    padding: 20px 30px;
    width: 400px;
    background-color: $bgcolor-main;
    border-radius: 30px;
    position: relative;
    &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 98%;
        top: 30px;
        border-top: 0px solid transparent;
        border-right: 110px solid $bgcolor-main;
        border-bottom: 30px solid transparent;
    }
}

.quote-texts_money {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    &-text {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: $text-color_main;
        &_margin {
            margin: 20px 0 0 0;
        }
    }
    &-number {
        font-family: $font-main;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 53px;
        text-align: center;
        color: $text-color_white;
        text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.2), 4px 2px 5px rgba(255, 255, 255, 1);
        &_margin {
            margin: 20px 0 0 0;
        }
    }
}

.modal-footer {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-text {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: $text-color_white;
    &_margin {
        margin: 20px 0 0 0;
    }
}

.footer-links {
    display: flex;
    flex-direction: row;
    &__left {
        width: 300px;
    }
}

.footer__text {
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
    font-family: $font-main;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: $text-color_main;
    &_link {
        text-decoration-line: underline;
        &:hover {
            text-decoration: none;
            color: $text-color_white;
            cursor: pointer;
        }
    }
}

.money-text {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: $text-color_main;
    text-align: center;
}

.money-footer {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    padding: 0 0 0 0;
    width: 90%;
}

.secret-block {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 300px;
}

.secret-text {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: $text-color_main;
}

.secret-code {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: $text-color_white;
}

.money-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.form-text {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    color: $text-color_white;
    &_margin {
        margin: 0 0 4px 0;
    }
}

.form-input {
    padding: 5px 10px;
    width: 352px;
    height: 40px;
    background: $bgcolor-main;
    border-radius: 10px;
    border: none;
    font-family: $font-main;
    font-size: 18px;
    font-weight: 400;
    color: $text-color_main;
    outline: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    &_maring {
        margin: 0 0 6px 0;
    }
}

.form-btn {
    width: 180px;
    height: 50px;
    background: #f44035;
    border-radius: 15px;
    color: $text-color_white;
    font-size: 20px;
    font-family: $font-main;
    font-weight: 400;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(244, 64, 53, 0.6), 1px 1px 5px rgba(255, 255, 255, 1);
    &_margin {
        margin: 10px 0 0 0;
    }
    &:hover {
        background: #e04843;
        outline: none;
        // color: $text-color_main;
    }
    &:active {
        padding: 0 5px 5px 0;
        outline: none;
        box-shadow: -2px -2px 5px rgba(244, 64, 53, 0.6), -1px -1px 5px rgba(255, 255, 255, 1);
    }
}

.modal-window-lost {
    position: fixed;
    top: 100px;
    left: 400px;
    width: 800px;
    height: 500px;
    background-color: $bgcolor-second;
    z-index: 11;
    border-radius: 30px;
    box-shadow: 0 0 50px 5px rgba(177, 177, 177, 0.6);
}

.container {
    max-width: 100%;
    max-width: $main-width;
    margin: 0 auto;
}

.header-style {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    background-color: $bgcolor-top;
    height: 300px;
}

.cow-left {
    background-image: url(../img/site/cow-left.png);
    width: 225px;
}

.between-top {
    width: 20%;
    font-size: 20px;
    font-weight: 500;
    margin: 95px 0 0 0;
    text-transform: uppercase;
}

.cow-right {
    background-image: url(../img/site/cow-right.png);
    width: 225px;
}

.game-name {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.game-name__text_small {
    margin: 0 0 -20px 6px;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-size: 36px;
    color: $text-color_grey;
    text-transform: uppercase;
}

.game-name__text_black {
    margin: 0 0 -35px 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: $font-main;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 500;
}

.game-name__text_white {
    color: $text-color_white;
}

.name__text-laquo {
    margin-left: -47px;
}

.main-style {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.text-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: $bgcolor-cow-input;
}

.text__title {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: $text-color_main;
}

.action-text {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    font-family: $font-main;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: $text-color_main;
}

.text__title_indents {
    margin: 15px 0 0 0;
}

.text__desc {
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    &:last-child {
        margin: 0 0 50px 0;
    }
    &:first-child {
        margin: 0 0 0 0;
    }
}

.rules-text {
    width: 45%;
}

.action {
    width: 45%;
}

.inputs {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 490px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $bgcolor-cow-input;
    background-image: url(../img/site/cow-say.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 280px;
}

.your-choice {
    margin: 0 0 0 0;
    padding: 30px 0 0 0;
    box-sizing: border-box;
    width: 38%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    height: 450px;
}

.border-words {
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    background-color: $bgcolor-main;
    border-radius: 20px;
    width: 41%;
    height: 410px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 325px;
        width: 0;
        height: 0;
        border-bottom: 55px solid $bgcolor-main;
        border-left: 120px solid transparent;
    }
}

.instruction {
    margin: 0 0 0 0;
    padding: 15px;
    font-family: $font-main;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
}

.invisible__block {
    display: none;
}

.result-check {
    margin: 20px 0 0 10px;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-size: 23px;
    font-weight: 400;
    line-height: 15px;
}

.inputs-main {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 60%;
    height: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.inputs-all {
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
}

.input-numb {
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    width: 200px;
    height: 99%;
    font-size: 200px;
    font-family: $font-main;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #cecece;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    color: $text-color_main;
    outline: none;
    &::placeholder {
        color: rgba(158, 158, 158, 0.35);
    }
    &_error {
        border: 2px solid red;
    }
}

.input-numb:last-child {
    margin: 0 20px 0 20px;
}

.input-numb::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input-numb::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input-numb:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input-numb:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input-numb:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input-numb:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input-numb:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input-numb:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.button-play {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    background-color: $bgcolor-cow-input;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button-play_margin {
    margin: 0 0 30px 0;
}

.start-new-game__link {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.start-new-game__text {
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $text-color_grey;
    }
}

.cow-say {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    width: 40%;
    background-image: url(../img/site/cow-say.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 45%;
}

//=========================================================
@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        transform: skewY(-45deg) translateX(12.5em);
    }
}

.button-check {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: $text-color_white;
    border: 2px solid $color;
    font-size: 24px;
    display: inline-block;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background-color: #0c70b3;
    outline: none;
    &:before {
        content: "";
        background-color: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
    }
    &:hover {
        outline: none;
        background-color: $color;
        color: #fff;
        border-bottom: 4px solid darken($color, 10%);
        cursor: pointer;
        &:before {
            transform: skewX(-45deg) translateX(13.5em);
            transition: all 0.5s ease-in-out;
        }
    }
    &:active {
        outline: none;
    }
    &::after {
        content: "Ошибка ввода";
        width: 200px;
        height: 40px;
        position: absolute;
        left: -300px;
        top: -20px;
        font-family: $font-main;
        font-size: 15px;
        color: $text-color_main;
        z-index: 1000;
    }
}

.button-check_disabled {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: $bgcolor-second;
    border: 2px solid $bgcolor-second;
    font-size: 24px;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    background-color: $text-color_grey;
    outline: none;
}

.button-check_disabled {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: $bgcolor-second;
    border: 2px solid $bgcolor-second;
    font-size: 24px;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    background-color: $text-color_grey;
    outline: none;
}

.facts {
    margin: 0 30px 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: $bgcolor-main;
    height: 300px;
}

.facts-text {
    width: 35%;
    margin: 0 20px 0 20px;
    padding: 0 10px 0 0;
}

.social-links {
    width: 35%;
}

.next-fact {
    margin-top: 20px;
}

.footer-style {
    margin: 0 0 0 0;
    padding: 40px 12px;
    box-sizing: border-box;
    background-color: $bgcolor-footer;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-grid {
    width: 30%;
    font-family: $font-main;
    color: $text-color_white;
    &:first-child {
        width: 20%;
    }
}

.footer-quote {
    position: relative;
    &::before {
        content: '–';
        position: absolute;
        top: -10px;
        left: -25px;
        font-size: 30px;
        font-weight: 400;
        font-family: $font-main;
        color: $text-color_grey;
    }
}

.game-name__footer {
    font-size: 50px;
    margin: 0 0 -21px 0;
    color: $text-color_grey;
}

.copyright {
    margin: 20px 0 0 0;
    padding: 0 0 0 0;
    color: $text-color_grey;
    font-size: 15px;
}

.text__footer {
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 400;
    color: $text-color_grey;
}

.text__link {
    color: $text-color_grey;
    text-decoration: underline;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $text-color_white;
    }
}

//-------------
.footer-main-blocks {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 400px;
}

.project-desc {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    color: #a1a1a1;
    font-family: $font-main;
    font-weight: 400;
    font-size: 20px;
}

 :focus::-webkit-input-placeholder {
    color: transparent;
}

 :focus::-moz-placeholder {
    color: transparent;
}

 :focus:-moz-placeholder {
    color: transparent;
}

 :focus:-ms-input-placeholder {
    color: transparent;
}

.button-send-2 {
    margin: 5px 0 0 0;
    padding: 10px 20px;
    background-color: #a1a1a1;
    color: #000;
    width: 130px;
    text-align: center;
    overflow: hidden;
    transition: .3s;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    &:hover {
        cursor: pointer;
        border-radius: 20px;
    }
}

.footer-input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
    height: 45px;
    width: 400px;
    background-color: #a1a1a1;
    color: #f5f5f5;
    border: 1px solid #a1a1a1;
    font-size: 20px;
    line-height: 22px;
    margin: 5px 0 5px 0;
    box-sizing: border-box;
}

.textarea {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
    height: 100px;
    width: 400px;
    background-color: #a1a1a1;
    color: #f5f5f5;
    border: 1px solid #a1a1a1;
    font-size: 20px;
    line-height: 22px;
    margin: 5px 0 5px 0;
    box-sizing: border-box;
}

.dynamic-text {
    position: relative;
    &::before {
        content: 'Наведи курсор на цифры, будет легче отгадывать';
        font-size: 14px;
        width: 99px;
        top: 0px;
        left: -170px;
        color: $text-color_main;
        font-family: $font-main;
        font-weight: 400;
        font-style: italic;
        position: absolute;
    }
}